jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-16.04'
    strategy:
      maxParallel: 2
    variables:
      repoDir: '$(Build.Repository.LocalPath)'

    steps:
      - task: CondaEnvironment@1
        inputs:
          updateConda: false
      - script: |
          chmod +x tests/test_project.sh 
          ./tests/test_project.sh $(repoDir) source

  - job: macOS
    pool:
      vmImage: 'xcode9-macos10.13'
    strategy:
      maxParallel: 2
    variables:
      repoDir: '$(Build.Repository.LocalPath)'
    steps:
      - bash: echo "##vso[task.prependpath]$CONDA/bin"
        displayName: Add conda to PATH

      - script: |
          chmod +x tests/test_project.sh 
          ./tests/test_project.sh $(repoDir) source


  - job:
    displayName: Windows
    pool:
      vmImage: 'vs2017-win2016'
    strategy:
      maxParallel: 2
      # matrix:
      #   py36:
      #     PY_VERSION: 3.6
      #     VS_VERSION: 2015
      #   # py27:
      #   #   PY_VERSION: 2.7
    variables:
      repoDir: '$(Build.Repository.LocalPath)'
    steps:
    - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
      displayName: Add conda to PATH

    - script: conda create --yes --quiet --name myroot
      displayName: Create Anaconda environment

    - script: |
        call activate myroot
        conda install --yes --quiet --name myroot cookiecutter -c conda-forge
      displayName: Install Anaconda packages
      
    - script: |
        echo "activate"
        call activate myroot
        echo "cd"
        cd ..
        echo "run cookiecutter"
        cookiecutter %repoDir% --overwrite-if-exists --no-input
      displayName: generating project from cookiecutter

    - script: |
        echo "activate"
        call activate myroot
        echo "cd path"
        cd ..
        cd cpptools
        echo "create"
        conda env create   -f cpptools-dev-requirements.yml
        echo "done"
      displayName: create dev requirements env

    - script: |
        echo "cd path"
        cd ..\cpptools
        echo "activate"
        call activate cpptools-dev-requirements
        echo "mkdir"
        mkdir build
        cd build
        echo "cmake gen"
        cmake .. -G"Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=Release  ^
              -DDEPENDENCY_SEARCH_PREFIX="%CONDA_PREFIX%\Library" -DCMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library"
      displayName: configure project

    - script: |
        echo "cd path"
        cd ..\cpptools\build
        echo "activate"
        call activate cpptools-dev-requirements
        cmake --build . --target ALL_BUILD
      displayName: build project

    - script: |
        echo "cd path"
        cd ..\cpptools\build 
        echo "activate"
        call activate cpptools-dev-requirements
        echo "run tests"
        cmake --build . --target python-test
        cmake --build . --target cpp-test
      displayName: run tests





